<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/user_style.css' %}">
    <title>USer Details</title>
</head>
<body>
    <h1>Here Is your User Details</h1>
    <div class='container'>
        <form method="post">
            {{ form.as_p}}
            {% csrf_token %}
    
            <input type="submit" class = 'btn btn-primary'value="submit">

        </form>
    </div>
</body>
</html>